In [44]:
import sqlite3 as sql

In [45]:
#make sure that the connection is within the same directory as the database
conn = sql.connect("Datawarehouse_3CSC.db")

In [46]:
cursor = conn.cursor()

In [ ]:
cursor.execute('CREATE TABLE students_csc(id INTEGER, firstNAME TEXT, familyNAME TEXT, age INTEGER, gwa REAL, gender TEXT)')

In [47]:
conn.commit()

In [ ]:
# cursor.execute("INSERT INTO students_csc VALUES(2019130134, 'John Angelo', 'Algarne', 20, 4.20, 'M')")
cursor.execute("SELECT * FROM students_csc")

In [48]:
cursor.fetchall()

[]

In [ ]:
id = input('ID: ')
firstname = input('First Name: ')
familyname = input('Family Name: ')
age = input('Age: ')
gwa = input('GWA: ')
gender = input('Gender: ')

In [ ]:
set_of_students = [(2019129789,'Chlarizza', 'Torres', 21, 5.00, 'F'),
                   (2019132627, 'Abraham', 'Militar', 20, 2.00, 'M'),
                   (2019128089, 'Andrei', 'Benitez',20 ,4.20, 'M')]

In [ ]:
cursor.executemany("INSERT INTO students_csc VALUES(?, ?, ?, ?, ?, ?)", set_of_students)

In [ ]:
conn.commit()

In [4]:
import pandas as pd

In [ ]:
#CSV file is in the same directory as the database
csc_g1 = pd.read_csv('3csc - Sheet1.csv')
csc_g1

In [ ]:
dataFrameQueryAll = pd.read_sql_query('SELECT * FROM CSC_Students', conn)
dataFrameQueryAll.tail()

In [ ]:
csc_g2 = pd.read_csv('3csc - Sheet1 - with gender.csv')
csc_g2.tail()

In [ ]:
csc_g2 = pd.read_csv('3csc - Sheet1 - with gender.csv')
csc_g2.head()

In [ ]:
csc_g2.to_sql(name = 'students_csc', con = conn, index = False, if_exists = 'replace')

In [ ]:
complete = pd.read_sql_query("SELECT * FROM students_csc", conn)
complete

In [ ]:
# csc_g2.to_sql(name = 'students_csc', con = conn, index = False, if_exists = 'append')

In [5]:
cursor.execute("SELECT * FROM students_csc")

In [ ]:
cursor.fetchone()

In [6]:
cursor.fetchall()

[(2018107987, 'John Louise', 'Lagazo', 21, 1.69, 'M'),
 (2019130134, 'John Angelo', 'Algarne', 20, 4.2, 'M'),
 (2019132083, 'Angelo', 'Hizon', 20, 5.0, 'M'),
 (2019129789, 'Chlarizza', 'Torres', 21, 5.0, 'F'),
 (2019132627, 'Abraham ', 'Militar', 20, 2.0, 'M'),
 (2019128089, 'Andrei', 'Benitez', 20, 4.2, 'M'),
 (2019131905, 'Keane', 'Tejada', 20, 1.0, 'M'),
 (2019128151, 'Anton', 'Bondoc', 20, 5.0, 'M'),
 (2018117965, 'Carl Joseph', 'Paez', 21, 2.0, 'M'),
 (2019128312, 'Karl', 'Tabajonda', 21, 1.0, 'M'),
 (2019128272, 'Carlo', 'Sindayen', 20, 2.0, 'M'),
 (2019128232, 'Aaron', 'Santos', 21, 3.14, 'M'),
 (2015081794, 'Allen', 'Marders', 22, 5.0, 'M'),
 (2019128253, 'Bridget', 'Plaza', 20, 2.0, 'F'),
 (2019127901, 'Enrico', 'Oliva', 20, 3.0, 'M'),
 (2019128145, 'Jasmine Joy', 'Lam', 20, 1.0, 'F'),
 (2019128203, 'Ronan', 'Doncillo', 21, 3.0, 'M'),
 (2019128149, 'Rowel', 'Buluran', 19, 5.0, 'M'),
 (2019128005, 'Dominick', 'Segundo', 20, 5.0, 'M'),
 (2019128314, 'Franz', 'Amog', 21, 3.0, 'M'),
 (2019127972, 'Kerwin Dominique', 'Aquino', 20, 1.0, 'M'),
 (2019128026, 'Lorenz Christian', 'Tadeo', 21, 3.0, 'F'),
 (2019131291, 'Leira Marie', 'Teodoro', 20, 2.0, 'F')]

In [ ]:
cursor.execute("SELECT * FROM students_csc")

In [ ]:
list = cursor.fetchall()
print(list)

In [ ]:
for item in list:
    print(item[2])

In [ ]:
for item in list:
    print(item[0], item[2], item[5])

In [ ]:
for item in list:
    print(item[0], item[1], ',', item[2], '-', item[5])

In [ ]:
#exclusive
cursor.execute("SELECT id, familyNAME FROM students_csc WHERE age < 21 AND age > 19")

In [ ]:
cursor.fetchall()

In [ ]:
#inclusive
cursor.execute("SELECT id, familyNAME FROM students_csc WHERE age BETWEEN 19 and 21")

In [ ]:
cursor.fetchall()

In [7]:
cursor.execute("SELECT id, familyNAME FROM students_csc WHERE age > 20 and gender LIKE 'M'")

In [10]:
cursor.fetchall()

[(2018107987, 'John Louise', 'Lagazo', 21, 1.69, 'M'),
 (2019130134, 'John Angelo', 'Algarne', 20, 4.2, 'M'),
 (2019132083, 'Angelo', 'Hizon', 20, 5.0, 'M'),
 (2019129789, 'Chlarizza', 'Torres', 21, 5.0, 'F'),
 (2019132627, 'Abraham ', 'Militar', 20, 2.0, 'M'),
 (2019128089, 'Andrei', 'Benitez', 20, 4.2, 'M'),
 (2019131905, 'Keane', 'Tejada', 20, 1.0, 'M'),
 (2019128151, 'Anton', 'Bondoc', 20, 5.0, 'M'),
 (2018117965, 'Carl Joseph', 'Paez', 21, 2.0, 'M'),
 (2019128312, 'Karl', 'Tabajonda', 21, 1.0, 'M'),
 (2019128272, 'Carlo', 'Sindayen', 20, 2.0, 'M'),
 (2019128232, 'Aaron', 'Santos', 21, 3.14, 'M'),
 (2019128253, 'Bridget', 'Plaza', 20, 2.0, 'F'),
 (2019127901, 'Enrico', 'Oliva', 20, 3.0, 'M'),
 (2019128145, 'Jasmine Joy', 'Lam', 20, 1.0, 'F'),
 (2019128203, 'Ronan', 'Doncillo', 21, 3.0, 'M'),
 (2019128149, 'Rowel', 'Buluran', 19, 5.0, 'M'),
 (2019128005, 'Dominick', 'Segundo', 20, 5.0, 'M'),
 (2019128314, 'Franz', 'Amog', 21, 3.0, 'M'),
 (2019127972, 'Kerwin Dominique', 'Aquino', 20, 1.0, 'M'),
 (2019128026, 'Lorenz Christian', 'Tadeo', 21, 3.0, 'F'),
 (2019131291, 'Leira Marie', 'Teodoro', 20, 2.0, 'F')]

In [9]:
cursor.execute("SELECT * FROM students_csc WHERE age BETWEEN 19 and 21")

In [24]:
# By default in order is ascending
# add DESC to state it being in descending order
# add ASC to state it being ascending order
cursor.execute("SELECT id, familyNAME, age FROM students_csc WHERE age > 20 and gender LIKE 'M' ORDER BY age DESC")

In [25]:
# limits to five records
cursor.fetchmany(5)

[(2015081794, 'Marders', 22),
 (2018107987, 'Lagazo', 21),
 (2018117965, 'Paez', 21),
 (2019128312, 'Tabajonda', 21),
 (2019128232, 'Santos', 21)]

In [52]:
# order only with the selected column
cursor.execute("SELECT id, familyNAME, age FROM students_csc WHERE age > 20 and gender LIKE 'M' ORDER BY familyNAME DESC")

In [53]:
cursor.fetchall()

[(2019128312, 'Tabajonda', 21),
 (2019128232, 'Santos', 21),
 (2018117965, 'Paez', 21),
 (2015081794, 'Marders', 22),
 (2018107987, 'Lagazo', 21),
 (2019128203, 'Doncillo', 21),
 (2019128314, 'Amog', 21)]

In [56]:
# group by usually used for numerical data
# aggregate means group by
# min, max, avg, or count
# alternative to like is =
cursor.execute("SELECT id, familyNAME, AVG(age) FROM students_csc WHERE age < 21 and gender = 'M' GROUP BY age ORDER BY age")

In [57]:
# do not end a query with a semicolon or else it wont work
cursor.fetchall()

[(2019128149, 'Buluran', 19.0), (2019130134, 'Algarne', 20.0)]

In [82]:
# HAVING is used for filtering down GROUP BY
# HAVING it optional an query that is paired with GROUP BY
cursor.execute("SELECT id, familyNAME, age, COUNT(age) FROM students_csc WHERE gender = 'M' GROUP BY age HAVING age > 17 ORDER BY age")

In [83]:
cursor.fetchall()

[(2019128149, 'Buluran', 19, 1),
 (2019130134, 'Algarne', 20, 10),
 (2018107987, 'Lagazo', 21, 6),
 (2015081794, 'Marders', 22, 1)]

In [89]:
# CREATING NEW TABLE USING FORMULA BASED ON THE AVAILABLE DATA/CELLS
# predicted_gwa = a*age + b where y represents the y intercept
# pred_gwa = 3.56936 + (-0.02743)*age
cursor.execute("SELECT familyNAME, gwa, age, 3.56936 + (-0.02743)*age FROM students_csc")

In [91]:
cursor.fetchall()

[('Benitez', 4.2, 20, 3.02076),
 ('Tejada', 1.0, 20, 3.02076),
 ('Bondoc', 5.0, 20, 3.02076),
 ('Paez', 2.0, 21, 2.9933300000000003),
 ('Tabajonda', 1.0, 21, 2.9933300000000003),
 ('Sindayen', 2.0, 20, 3.02076),
 ('Santos', 3.14, 21, 2.9933300000000003),
 ('Marders', 5.0, 22, 2.9659),
 ('Plaza', 2.0, 20, 3.02076),
 ('Oliva', 3.0, 20, 3.02076),
 ('Lam', 1.0, 20, 3.02076),
 ('Doncillo', 3.0, 21, 2.9933300000000003),
 ('Buluran', 5.0, 19, 3.04819),
 ('Segundo', 5.0, 20, 3.02076),
 ('Amog', 3.0, 21, 2.9933300000000003),
 ('Aquino', 1.0, 20, 3.02076),
 ('Tadeo', 3.0, 21, 2.9933300000000003),
 ('Teodoro', 2.0, 20, 3.02076)]

In [99]:
# DELETING ROW/S IN THE TABLE
cursor.execute("DELETE FROM students_csc WHERE age = 19")

In [111]:
cursor.execute("SELECT * FROM students_csc")

In [112]:
cursor.fetchall()

[]

In [100]:
# allows us to check the number of rows deleted
cursor.rowcount

0

In [102]:
conn.commit()

In [103]:
cursor.execute("DELETE FROM students_csc WHERE gender = 'F'")

In [109]:
cursor.rowcount

17

In [110]:
conn.commit()

In [108]:
cursor.execute("DELETE FROM students_csc")