In [1]:
import sqlite3 as sql
import pandas as pd

In [2]:
conn = sql.connect('practice3.db')

In [3]:
cursor = conn.cursor()

In [ ]:
cursor.execute('CREATE TABLE "sales" ("Product_ID" REAL,"Transaction_date" TEXT,"Product" TEXT,"Price" TEXT,"Payment_Type" TEXT,"Name" TEXT,"City" TEXT,"State" TEXT,"Country" TEXT)')

In [ ]:
conn.commit()

In [ ]:
data = [(10000, '1/1/09 4:24', 'Product3', 7500, 'Amex', 'Pamela', 'Skaneateles', 'NY', 'United States'), 
        (10001, '1/8/09 11:55', 'Product1', 1200, 'Diners', 'julie', 'Haverhil', 'England', 'United Kingdom'), 
        (10002, '1/12/09 21:30', 'Product1', 1200, 'Visa', 'Julia', 'Madison', 'WI', 'United States'),
       ]

In [ ]:
cursor.executemany('INSERT INTO sales VALUES(?, ?, ?, ?, ?, ?, ?, ?, ?)', data)

In [ ]:
conn.commit()

In [ ]:
cursor.execute('DELETE FROM sales')

In [ ]:
df = pd.read_sql_query('SELECT * FROM sales', conn)
df

In [ ]:
additional_data = [
                (10003, '1/26/09 13:41', 'Product1', 1200, 'Mastercard', 'Lesleigh', 'Baden', 'Aargau', 'Switzerland'),
                (10004, '1/20/09 10:42', 'Product2', 3600, 'Diners', 'esther', 'Huddersfield', 'England', 'United Kingdom'),
                (10005, '1/22/09 14:25', 'Product1', 1200, 'Visa', 'Hans-Joerg', 'Belfast', 'Northern Ireland', 'United Kingdom'),
                (10006, '1/28/09 5:36', 'Product2', 3600, 'Visa', 'Christiane', 'Black River', 'Black River', 'Mauritius'),
                ]

In [ ]:
cursor.executemany('INSERT INTO sales VALUES(?, ?, ?, ?, ?, ?, ?, ?, ?)', additional_data)

In [ ]:
conn.commit()

In [ ]:
pd.read_sql_query('SELECT * FROM sales LIMIT 4', conn)

In [ ]:
pd.read_sql_query('SELECT * FROM sales', conn)

In [ ]:
pd.read_sql_query('SELECT Name, Country FROM sales', conn)

In [ ]:
pd.read_sql_query('SELECT Product, Payment_Type FROM sales WHERE Price < 3000', conn)

In [ ]:
variable = pd.read_csv('Sales - Sales.csv')

In [ ]:
variable.to_sql('sales', con = conn, index=False, if_exists = 'append')

In [ ]:
pd.read_sql_query('SELECT * FROM sales LIMIT 10', conn)

In [ ]:
pd.read_sql_query('SELECT Name, Country FROM sales LIMIT 10', conn)

In [ ]:
pd.read_sql_query('SELECT Product, Payment_Type FROM sales WHERE Price > 4000', conn)

In [4]:
test = pd.read_csv('FL_insurance - FL_insurance_sample.csv')

In [5]:
test.to_sql('test1', con = conn, index=False, if_exists = 'replace')