In [63]:
from petl import look, fromdb, fromjson,  unpackdict, fromdicts, cut, rename, tocsv
from pandas import DataFrame
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import csv
import csv as reader
import sqlite3 as sql
import psycopg2 as pc
import mysql.connector 
import requests, urllib, json
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [2]:
df1 = pd.read_csv('suspects_data_mp - suspects_1.csv')
df1

,suspect_id,name,gender,age,height,hair_color,eye_color,facial_hair,tattoos,galsses,scars,feet_size,status
0,1,Harold Day,Male,28,Short,Red,Blue,No,Yes,Yes,No,Medium,Guilty
1,2,Xaviera Bryan,Female,53,Medium,Black,Green,Yes,No,No,Yes,Small,Guilty
2,3,Bill Goodwin,Male,32,Short,Brown,Blue,No,No,Yes,No,Small,Guilty
3,4,Shana Mcdowell,Female,45,Tall,Blonde,Brown,No,Yes,No,No,Large,Guilty
4,5,Nyssa Christensen,Female,57,Medium,Brown,Blue,Yes,Yes,No,Yes,Large,Guilty
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,Aubrey Johnston,Male,49,Short,Blonde,Green,No,No,No,No,Small,Not Guilty
96,97,Hamilton Russo,Male,27,Tall,Brown,Blue,Yes,Yes,Yes,No,Medium,Not Guilty
97,98,Chaney Dudley,Female,18,Tall,Brown,Green,Yes,Yes,Yes,Yes,Small,Not Guilty
98,99,Benjamin Raymond,Male,67,Medium,Blonde,Brown,Yes,No,Yes,Yes,Medium,Not Guilty
99,100,Hilary Mayer,Male,36,Tall,Red,Blue,Yes,Yes,No,No,Small,Not Guilty

In [3]:
path = 'https://drive.google.com/uc?export=download&id=1ia_BNyxdurZelaBLFohPrwc59Tzz8T_c'

In [5]:
df2 = pd.read_csv(path)
df2

,suspect_id,name,gender,age,height,hair_color,eye_color,facial_hair,tattoos,galsses,scars,feet_size,status
0,101,Leilani Farrell,Female,47,Short,Blonde,Blue,No,No,Yes,Yes,Large,Not Guilty
1,102,William Carroll,Male,80,Medium,Red,Brown,Yes,Yes,Yes,No,Large,Not Guilty
2,103,Kitra Sanchez,Male,19,Medium,Brown,Blue,Yes,Yes,Yes,No,Large,Not Guilty
3,104,Holmes Cabrera,Male,24,Short,Black,Brown,No,No,Yes,Yes,Medium,Not Guilty
4,105,Carlos Rice,Male,33,Short,Blonde,Blue,No,No,No,No,Medium,Not Guilty
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,196,Martena Foster,Female,69,Tall,Black,Green,No,Yes,Yes,Yes,Small,Guilty
96,197,Charlotte Sykes,Female,76,Short,Red,Brown,Yes,Yes,No,Yes,Large,Guilty
97,198,Hu Cruz,Female,32,Medium,Black,Green,Yes,No,Yes,No,Small,Guilty
98,199,Melvin Duncan,Male,75,Short,Blonde,Brown,No,Yes,No,Yes,Large,Guilty
99,200,Autumn Henderson,Female,48,Tall,Black,Brown,Yes,Yes,No,Yes,Medium,Guilty

In [6]:
sqlite_conn = sql.connect('sqlite_db.db')

In [7]:
sqlite_c = sqlite_conn.cursor()

In [8]:
csv1 = pd.read_csv('suspects_data_mp - suspects_3.csv')

In [11]:
csv1.to_sql(name = 'table_sqlite', con = sqlite_conn, index = False, if_exists='replace')

In [13]:
df3 = pd.read_sql_query("SELECT * FROM table_sqlite", sqlite_conn)
df3

,suspect_id,name,gender,age,height,hair_color,eye_color,facial_hair,tattoos,galsses,scars,feet_size,status
0,201,Fritz Moody,Male,51,Medium,Black,Brown,Yes,Yes,No,No,Large,Guilty
1,202,Hillary Cobb,Female,32,Medium,Blonde,Brown,Yes,No,No,Yes,Medium,Guilty
2,203,Britanney Randolph,Female,52,Short,Black,Brown,No,Yes,No,No,Large,Guilty
3,204,Shad Gentry,Male,44,Medium,Red,Green,Yes,No,Yes,Yes,Large,Guilty
4,205,Reese Lowery,Male,69,Medium,Brown,Brown,Yes,No,Yes,No,Small,Guilty
...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,346,Yasir Bradshaw,Male,80,Short,Red,Brown,No,Yes,No,Yes,Small,Not Guilty
146,347,Venir Jarvis,Male,23,Medium,Red,Blue,No,No,Yes,Yes,Medium,Not Guilty
147,348,Scarlett Oneill,Female,81,Medium,Brown,Blue,Yes,Yes,Yes,No,Small,Not Guilty
148,349,Paul Dominguez,Male,34,Tall,Red,Blue,Yes,No,No,No,Medium,Not Guilty
149,350,Kessie Benson,Female,61,Tall,Brown,Blue,No,Yes,Yes,No,Small,Not Guilty

In [15]:
postgres_conn = pc.connect("""
    dbname = practice_mp4
    host = localhost
    user = postgres
    password = @Ngelo8998
""")

In [16]:
postgres_c = postgres_conn.cursor()

In [18]:
postgres_engine = create_engine('postgresql+psycopg2://postgres:@Ngelo8998@localhost:5432/practice_mp4')

In [19]:
csv2 = pd.read_csv('suspects_data_mp - suspects_4.csv')

In [21]:
csv2.to_sql('table_postgres', postgres_engine, index = False, if_exists = 'replace')

In [23]:
df4 = pd.read_sql_query("SELECT * FROM table_postgres", postgres_conn)
df4

,suspect_id,name,gender,age,height,hair_color,eye_color,facial_hair,tattoos,galsses,scars,feet_size,status
0,351,Grady Walker,Male,42,Medium,Black,Blue,Yes,No,Yes,Yes,Small,Not Guilty
1,352,Leonard Fields,Male,53,Medium,Brown,Brown,No,No,No,Yes,Large,Not Guilty
2,353,Sharee Cherry,Female,25,Tall,Black,Green,Yes,Yes,No,No,Small,Not Guilty
3,354,Brent Hurst,Male,73,Tall,Black,Brown,No,Yes,No,No,Medium,Not Guilty
4,355,Celeste Burgess,Female,54,Short,Black,Brown,No,Yes,Yes,Yes,Large,Not Guilty
...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,436,Olive Powers,Female,29,Short,Brown,Brown,Yes,Yes,Yes,Yes,Large,Not Guilty
86,437,Upton Parker,Female,75,Medium,Blonde,Green,Yes,Yes,Yes,No,Small,Not Guilty
87,438,Branton Henry,Female,76,Tall,Red,Blue,Yes,Yes,Yes,No,Large,Not Guilty
88,439,Elvis Becker,Male,35,Short,Red,Brown,Yes,Yes,No,No,Large,Not Guilty
89,440,Zenaida Norris,Female,81,Short,Brown,Blue,Yes,No,No,No,Small,Not Guilty

In [25]:
mysql_conn = mysql.connector.connect(
    user = 'root',
    database = 'mysql_practice',
    password = '@Ngelo8998',
    host = 'localhost'
)

In [26]:
mysql_c = mysql_conn.cursor()

In [27]:
mysql_engine = create_engine('mysql+mysqlconnector://root:@Ngelo8998@localhost:3306/mysql_practice')

In [28]:
csv3 = pd.read_csv('suspects_data_mp - suspects_5.csv')

In [29]:
csv3.to_sql('table_mysql', mysql_engine, index = False, if_exists = 'replace')

In [30]:
df5 = pd.read_sql_query("SELECT * FROM table_mysql", mysql_conn)
df5

,suspect_id,name,gender,age,height,hair_color,eye_color,facial_hair,tattoos,galsses,scars,feet_size,status
0,441,Winifred Fleming,Female,47,Tall,Brown,Green,Yes,No,No,Yes,Large,Not Guilty
1,442,Afrran Sargent,Male,35,Short,Black,Green,Yes,Yes,No,No,Large,Not Guilty
2,443,Melissa Bradshaw,Female,21,Short,Brown,Brown,Yes,Yes,Yes,No,Medium,Not Guilty
3,444,Talon Fields,Female,66,Short,Blonde,Brown,Yes,No,No,Yes,Medium,Not Guilty
4,445,Caryn Collier,Female,38,Short,Brown,Brown,Yes,No,No,No,Medium,Not Guilty
5,446,Norman Alvarado,Male,46,Medium,Brown,Blue,No,Yes,No,Yes,Medium,Not Guilty
6,447,Julian Dennis,Male,59,Medium,Brown,Green,Yes,Yes,Yes,No,Large,Not Guilty
7,448,Timon Cunningham,Female,55,Short,Black,Blue,Yes,Yes,Yes,Yes,Large,Not Guilty
8,449,Tater Lambert,Male,76,Tall,Brown,Brown,No,No,Yes,No,Medium,Not Guilty
9,450,Fletchley Benjamin,Female,52,Medium,Blonde,Green,Yes,Yes,Yes,No,Medium,Not Guilty
10,451,Moll Le,Male,32,Short,Black,Brown,No,Yes,Yes,No,Medium,Not Guilty
11,452,Dander Ratliff,Male,31,Medium,Blonde,Brown,Yes,Yes,No,Yes,Medium,Not Guilty
12,453,Wylie Mendoza,Male,65,Medium,Black,Blue,No,No,No,No,Large,Not Guilty
13,454,Hendan Butler,Male,52,Tall,Red,Brown,Yes,Yes,Yes,Yes,Small,Not Guilty
14,455,Kimberley Knowles,Female,84,Tall,Blonde,Green,No,Yes,Yes,No,Large,Not Guilty
15,456,Zephr Francis,Male,40,Tall,Blonde,Brown,Yes,No,Yes,Yes,Medium,Not Guilty
16,457,Brexley Rhodes,Female,69,Medium,Blonde,Green,Yes,No,Yes,Yes,Medium,Not Guilty
17,458,Tad Livingston,Male,37,Medium,Black,Blue,No,Yes,No,No,Large,Not Guilty
18,459,Uriah Ingram,Male,20,Short,Blonde,Brown,No,No,No,Yes,Large,Not Guilty
19,460,Ciara Santana,Female,81,Medium,Blonde,Brown,Yes,Yes,No,Yes,Small,Not Guilty
20,461,Ardmore Sutton,Male,28,Medium,Blonde,Green,Yes,No,No,Yes,Medium,Not Guilty
21,462,Quamar Wells,Female,79,Tall,Brown,Brown,No,No,No,No,Medium,Not Guilty
22,463,Alice Gaines,Female,32,Short,Blonde,Blue,No,Yes,Yes,Yes,Large,Not Guilty
23,464,Holden Serrano,Male,71,Short,Red,Brown,Yes,Yes,Yes,No,Large,Not Guilty
24,465,Madaline Lopez,Female,33,Tall,Red,Green,No,No,Yes,Yes,Medium,Not Guilty
25,466,Dani Zamora,Female,71,Medium,Blonde,Green,Yes,No,No,Yes,Small,Not Guilty
26,467,Wynne Valentine,Male,32,Tall,Blonde,Blue,Yes,Yes,Yes,Yes,Small,Not Guilty
27,468,Kennedy Guzman,Female,76,Short,Black,Brown,Yes,No,Yes,No,Small,Not Guilty
28,469,Ayanna Poole,Female,75,Short,Blonde,Blue,No,No,No,Yes,Small,Not Guilty
29,470,Mufutau Mckay,Male,77,Tall,Red,Blue,Yes,Yes,Yes,Yes,Medium,Not Guilty
30,471,Echo Calderon,Female,27,Short,Blonde,Blue,Yes,Yes,Yes,No,Medium,Not Guilty
31,472,Reed Sullivan,Male,76,Tall,Brown,Blue,No,Yes,No,Yes,Small,Not Guilty
32,473,Rachel Gay,Female,20,Medium,Blonde,Green,No,No,No,No,Small,Not Guilty
33,474,Rajah Pacheco,Female,20,Short,Blonde,Brown,No,Yes,No,No,Small,Not Guilty
34,475,Ezekiel Alston,Male,78,Short,Black,Brown,Yes,No,No,No,Small,Not Guilty
35,476,Noble Bridges,Female,71,Short,Black,Green,No,No,Yes,Yes,Large,Guilty
36,477,Norman Strickland,Male,28,Medium,Black,Brown,Yes,Yes,No,Yes,Medium,Guilty
37,478,Oliver Holt,Male,73,Tall,Black,Green,No,Yes,No,Yes,Small,Guilty
38,479,Sybill Donaldson,Female,50,Medium,Red,Brown,Yes,No,No,Yes,Medium,Guilty
39,480,Preston Nieves,Female,46,Tall,Brown,Brown,No,No,No,Yes,Medium,Guilty
40,481,Charity Mcdaniel,Female,53,Short,Brown,Brown,No,No,No,No,Small,Guilty
41,482,Joe Cruz,Male,26,Medium,Blonde,Brown,Yes,No,Yes,No,Large,Guilty
42,483,Chaim Lambert,Male,67,Tall,Blonde,Blue,Yes,Yes,Yes,No,Medium,Guilty
43,484,Scope Avila,Female,71,Short,Red,Brown,No,Yes,Yes,No,Medium,Guilty
44,485,Ahmed Knowles,Female,46,Short,Black,Blue,Yes,Yes,No,No,Medium,Guilty
45,486,Ina Lee,Female,32,Medium,Black,Brown,Yes,No,Yes,Yes,Large,Guilty
46,487,Brynn Parks,Female,51,Short,Brown,Blue,No,No,Yes,Yes,Medium,Guilty
47,488,Tanek Mercado,Female,54,Medium,Red,Blue,No,No,Yes,Yes,Small,Guilty
48,489,Xavier Hebert,Male,44,Medium,Blonde,Blue,Yes,No,No,Yes,Small,Guilty
49,490,Dan Livingston,Male,48,Medium,Blonde,Green,Yes,No,Yes,Yes,Small,Guilty

In [31]:
with open('suspects_data_mp - suspects_6.json') as fp:
    data = json.load(fp)

In [32]:
df6 = pd.DataFrame(data)
df6

,suspect_id,name,gender,age,height,hair_color,eye_color,facial_hair,tattoos,galsses,scars,feet_size,status
0,490,Dan Livingston,Male,48,Medium,Blonde,Green,Yes,No,Yes,Yes,Small,Guilty
1,491,Lynn Lopez,Female,85,Short,Black,Blue,No,No,Yes,Yes,Medium,Guilty
2,492,Philip Mcknight,Male,51,Short,Red,Green,Yes,Yes,Yes,No,Large,Guilty
3,493,Lawrie Hammond,Female,31,Medium,Black,Brown,No,Yes,No,No,Large,Guilty
4,494,Raphael Castaneda,Female,73,Tall,Blonde,Blue,Yes,Yes,No,Yes,Medium,Guilty
5,495,Palmer Ray,Female,79,Tall,Brown,Blue,Yes,Yes,Yes,No,Small,Guilty
6,496,Oren Quinn,Male,76,Short,Blonde,Green,No,Yes,No,Yes,Small,Guilty
7,497,Alvin Park,Female,48,Medium,Red,Blue,No,No,No,No,Medium,Guilty
8,498,Clark Moses,Female,43,Short,Brown,Blue,No,Yes,Yes,No,Large,Guilty
9,499,Graham Cain,Male,40,Tall,Red,Blue,Yes,No,Yes,Yes,Large,Guilty
10,500,Stacy Bennett,Female,49,Tall,Red,Green,No,No,Yes,No,Medium,Guilty

In [49]:
dataframe = pd.concat([df1,df2,df3,df4,df5,df6])
dataframe = dataframe.reset_index()
dataframe = dataframe.drop(['index'], axis=1)
dataframe = dataframe.drop_duplicates()
dataframe.shape

(500, 13)

In [50]:
dataframe

,suspect_id,name,gender,age,height,hair_color,eye_color,facial_hair,tattoos,galsses,scars,feet_size,status
0,1,Harold Day,Male,28,Short,Red,Blue,No,Yes,Yes,No,Medium,Guilty
1,2,Xaviera Bryan,Female,53,Medium,Black,Green,Yes,No,No,Yes,Small,Guilty
2,3,Bill Goodwin,Male,32,Short,Brown,Blue,No,No,Yes,No,Small,Guilty
3,4,Shana Mcdowell,Female,45,Tall,Blonde,Brown,No,Yes,No,No,Large,Guilty
4,5,Nyssa Christensen,Female,57,Medium,Brown,Blue,Yes,Yes,No,Yes,Large,Guilty
...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,496,Oren Quinn,Male,76,Short,Blonde,Green,No,Yes,No,Yes,Small,Guilty
497,497,Alvin Park,Female,48,Medium,Red,Blue,No,No,No,No,Medium,Guilty
498,498,Clark Moses,Female,43,Short,Brown,Blue,No,Yes,Yes,No,Large,Guilty
499,499,Graham Cain,Male,40,Tall,Red,Blue,Yes,No,Yes,Yes,Large,Guilty
500,500,Stacy Bennett,Female,49,Tall,Red,Green,No,No,Yes,No,Medium,Guilty

In [51]:
dataframe.describe()

       suspect_id         age
count  500.000000  500.000000
mean   250.500000   52.536000
std    144.481833   19.478077
min      1.000000   18.000000
25%    125.750000   36.000000
50%    250.500000   52.500000
75%    375.250000   70.000000
max    500.000000   85.000000

In [52]:
dataframe.dtypes

suspect_id      int64
name           object
gender         object
age             int64
height         object
hair_color     object
eye_color      object
facial_hair    object
tattoos        object
galsses        object
scars          object
feet_size      object
status         object
dtype: object

In [53]:
df = LabelEncoder()
dataframe['gender'] = df.fit_transform(dataframe['gender'].astype('str'))
dataframe['height'] = df.fit_transform(dataframe['height'].astype('str'))
dataframe['hair_color'] = df.fit_transform(dataframe['hair_color'].astype('str'))
dataframe['eye_color'] = df.fit_transform(dataframe['eye_color'].astype('str'))
dataframe['facial_hair'] = df.fit_transform(dataframe['facial_hair'].astype('str'))
dataframe['tattoos'] = df.fit_transform(dataframe['tattoos'].astype('str'))
dataframe['galsses'] = df.fit_transform(dataframe['galsses'].astype('str'))
dataframe['scars'] = df.fit_transform(dataframe['scars'].astype('str'))
dataframe['feet_size'] = df.fit_transform(dataframe['feet_size'].astype('str'))
dataframe['status'] = df.fit_transform(dataframe['status'].astype('str'))

In [54]:
dataframe.dtypes

suspect_id      int64
name           object
gender          int32
age             int64
height          int32
hair_color      int32
eye_color       int32
facial_hair     int32
tattoos         int32
galsses         int32
scars           int32
feet_size       int32
status          int32
dtype: object

In [58]:
x_variables = dataframe.iloc[:, 2:12]
x_variables

,gender,age,height,hair_color,eye_color,facial_hair,tattoos,galsses,scars,feet_size
0,1,28,1,3,0,0,1,1,0,1
1,0,53,0,0,2,1,0,0,1,2
2,1,32,1,2,0,0,0,1,0,2
3,0,45,2,1,1,0,1,0,0,0
4,0,57,0,2,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...
496,1,76,1,1,2,0,1,0,1,2
497,0,48,0,3,0,0,0,0,0,1
498,0,43,1,2,0,0,1,1,0,0
499,1,40,2,3,0,1,0,1,1,0
500,0,49,2,3,2,0,0,1,0,1

In [59]:
x_std_variables = StandardScaler().fit_transform(x_variables)

In [60]:
cov_suspect = np.cov(x_std_variables.T)
cov_suspect

array([[ 1.00200401, -0.05980826, -0.02406969,  0.0764971 ,  0.05559242,
         0.02249728,  0.052138  ,  0.01232101, -0.05658584,  0.01195288],
       [-0.05980826,  1.00200401,  0.01803193,  0.04263419,  0.03738771,
        -0.02105143,  0.07888908, -0.01360973,  0.02175435, -0.00526251],
       [-0.02406969,  0.01803193,  1.00200401,  0.03450415, -0.01387594,
         0.00636159, -0.03016816, -0.00526954, -0.01472312,  0.04078926],
       [ 0.0764971 ,  0.04263419,  0.03450415,  1.00200401, -0.03582522,
         0.00341216, -0.05657102, -0.02733015,  0.00358431, -0.00345277],
       [ 0.05559242,  0.03738771, -0.01387594, -0.03582522,  1.00200401,
        -0.00528423, -0.00754159, -0.03217848,  0.0620969 ,  0.02720158],
       [ 0.02249728, -0.02105143,  0.00636159,  0.00341216, -0.00528423,
         1.00200401,  0.02808331,  0.06855757, -0.00855399,  0.04162522],
       [ 0.052138  ,  0.07888908, -0.03016816, -0.05657102, -0.00754159,
         0.02808331,  1.00200401,  0.02404887, -0.06814118, -0.06195606],
       [ 0.01232101, -0.01360973, -0.00526954, -0.02733015, -0.03217848,
         0.06855757,  0.02404887,  1.00200401, -0.04399656, -0.08664213],
       [-0.05658584,  0.02175435, -0.01472312,  0.00358431,  0.0620969 ,
        -0.00855399, -0.06814118, -0.04399656,  1.00200401,  0.05685497],
       [ 0.01195288, -0.00526251,  0.04078926, -0.00345277,  0.02720158,
         0.04162522, -0.06195606, -0.08664213,  0.05685497,  1.00200401]])

In [61]:
eig_vals, eig_vecs = np.linalg.eig(cov_suspect)

In [64]:
# If by any chance number of principal components is not given
PCA_test = PCA(n_components = 10)

In [65]:
PCA_test = PCA_test.fit(x_std_variables)

In [69]:
PCA_test.explained_variance_ratio_

array([0.12113454, 0.11057808, 0.10844451, 0.1069292 , 0.10397676,
       0.09947317, 0.09619201, 0.08806338, 0.08691598, 0.07829238])

In [72]:
pca = PCA(n_components = 6)
pca_suspect = pca.fit_transform(x_std_variables)
new_suspect_x = pd.DataFrame(data = pca_suspect, columns = ['x1', 'x2', 'x3', 'x4', 'x5', 'x6'])
new_suspect_x

           x1        x2        x3        x4        x5        x6
0    1.591002  1.516354 -0.299417 -0.843387  1.103245 -0.294783
1   -1.936818 -0.785863  0.566949  2.194004 -0.645956  0.023939
2    0.206163  1.899556 -0.947451  0.001543  0.903275 -0.503029
3    0.554057 -1.073870 -0.553871 -0.832119  0.625851 -1.495954
4    0.452851 -1.023844 -0.268803 -0.163062  0.046334  0.750632
..        ...       ...       ...       ...       ...       ...
495 -1.310008 -0.845935  2.407963 -0.223966 -0.103153 -0.711902
496 -0.454448  0.199855 -1.166793 -0.961030  1.787485 -0.072071
497  1.841289 -0.616294 -1.373265 -0.801196  0.808245 -0.043468
498  0.397490  1.921678 -1.174985 -0.685580 -0.335494  1.788867
499 -0.480746  0.427892 -0.673180 -1.015066  0.143127  0.577284

[500 rows x 6 columns]