In [1]:
import sqlite3 as sql

In [2]:
#make sure that the connection is within the same directory as the database
conn = sql.connect("Datawarehouse_3CSC.db")

In [3]:
#cursor is a conceptual overhead that allows us to traverse, add, delete, or fetch records within the database
cursor = conn.cursor()

In [5]:
cursor.execute('CREATE TABLE students_csc(id INTEGER, firstNAME TEXT, familyNAME TEXT, age INTEGER, gwa REAL, gender TEXT)')

OperationalError: table students_csc already exists

In [ ]:
conn.commit()

In [ ]:
# cursor.execute("INSERT INTO students_csc VALUES(2019130134, 'John Angelo', 'Algarne', 20, 4.20, 'M')")
cursor.execute("SELECT * FROM students_csc")

In [ ]:
cursor.fetchall()

In [ ]:
id = input('ID: ')
firstname = input('First Name: ')
familyname = input('Family Name: ')
age = input('Age: ')
gwa = input('GWA: ')
gender = input('Gender: ')

In [ ]:
set_of_students = [(2019129789,'Chlarizza', 'Torres', 21, 5.00, 'F'),
                   (2019132627, 'Abraham', 'Militar', 20, 2.00, 'M'),
                   (2019128089, 'Andrei', 'Benitez',20 ,4.20, 'M')]

In [ ]:
cursor.executemany("INSERT INTO students_csc VALUES(?, ?, ?, ?, ?, ?)", set_of_students)

In [ ]:
conn.commit()

In [6]:
import pandas as pd

In [ ]:
#CSV file is in the same directory as the database
csc_g1 = pd.read_csv('3csc - Sheet1.csv')
csc_g1

In [ ]:
dataFrameQueryAll = pd.read_sql_query('SELECT * FROM CSC_Students', conn)
dataFrameQueryAll.tail()

In [ ]:
csc_g2 = pd.read_csv('3csc - Sheet1 - with gender.csv')
csc_g2.tail()

In [ ]:
csc_g2 = pd.read_csv('3csc - Sheet1 - with gender.csv')
csc_g2

In [ ]:
csc_g2.to_sql(name = 'students_csc', con = conn, index = False, if_exists = 'replace')

In [ ]:
complete = pd.read_sql_query("SELECT * FROM students_csc", conn)
complete

In [ ]:
# csc_g2.to_sql(name = 'students_csc', con = conn, index = False, if_exists = 'append')

In [ ]:
cursor.execute("SELECT * FROM students_csc")

In [ ]:
cursor.fetchone()

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("SELECT * FROM students_csc")

In [ ]:
list = cursor.fetchall()
print(list)

In [ ]:
for item in list:
    print(item[2])

In [ ]:
for item in list:
    print(item[0], item[2], item[5])

In [ ]:
for item in list:
    print(item[0], item[1], ',', item[2], '-', item[5])

In [ ]:
#exclusive
cursor.execute("SELECT id, familyNAME FROM students_csc WHERE age < 21 AND age > 19")

In [ ]:
cursor.fetchall()

In [ ]:
#inclusive
cursor.execute("SELECT id, familyNAME FROM students_csc WHERE age BETWEEN 19 and 21")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("SELECT id, familyNAME FROM students_csc WHERE age > 20 and gender LIKE 'M'")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("SELECT * FROM students_csc WHERE age BETWEEN 19 and 21")

In [ ]:
# By default in order is ascending
# add DESC to state it being in descending order
# add ASC to state it being ascending order
cursor.execute("SELECT id, familyNAME, age FROM students_csc WHERE age > 20 and gender LIKE 'M' ORDER BY age DESC")

In [ ]:
# limits to five records
cursor.fetchmany(5)

In [ ]:
# order only with the selected column
cursor.execute("SELECT id, familyNAME, age FROM students_csc WHERE age > 20 and gender LIKE 'M' ORDER BY familyNAME DESC")

In [ ]:
cursor.fetchall()

In [ ]:
# group by usually used for numerical data
# aggregate means group by
# min, max, avg, or count
# alternative to like is =
cursor.execute("SELECT id, familyNAME, AVG(age) FROM students_csc WHERE age < 21 and gender = 'M' GROUP BY age ORDER BY age")

In [ ]:
# do not end a query with a semicolon or else it wont work
cursor.fetchall()

In [7]:
# HAVING is used for filtering down GROUP BY
# HAVING it optional an query that is paired with GROUP BY
cursor.execute("SELECT id, familyNAME, age, COUNT(age) FROM students_csc WHERE gender = 'M' GROUP BY age HAVING age > 17 ORDER BY age")

In [8]:
cursor.fetchall()

[(2019128149, 'Buluran', 19, 1),
 (2019130134, 'Algarne', 20, 10),
 (2018107987, 'Lagazo', 21, 6),
 (2015081794, 'Marders', 22, 1)]

In [ ]:
# CREATING NEW TABLE USING FORMULA BASED ON THE AVAILABLE DATA/CELLS
# predicted_gwa = a*age + b where y represents the y intercept
# pred_gwa = 3.56936 + (-0.02743)*age

cursor.execute("SELECT familyNAME, gwa, age, 3.56936 + (-0.02743)*age FROM students_csc")

In [ ]:
cursor.fetchall()

In [ ]:
# DELETING ROW/S IN THE TABLE
cursor.execute("DELETE FROM students_csc WHERE age = 19")

In [ ]:
cursor.execute("SELECT * FROM students_csc")

In [ ]:
cursor.fetchall()

In [ ]:
# allows us to check the number of rows deleted
cursor.rowcount

In [ ]:
conn.commit()

In [ ]:
cursor.execute("DELETE FROM students_csc WHERE gender = 'F'")

In [ ]:
cursor.rowcount

In [ ]:
conn.commit()

In [ ]:
cursor.execute("DELETE FROM students_csc")

In [ ]:
complete = pd.read_sql_query("SELECT familyNAME, gwa, age, 3.56936 + (-0.02743)*age FROM students_csc", conn)
complete