In [1]:
import mysql.connector
import pandas as pd
from sqlalchemy import create_engine

In [2]:
conn = mysql.connector.connect(
  host="localhost",
  user="root",
  password="@Ngelo8998",
  database="cust_database"
)

In [3]:
c = conn.cursor()
engine = create_engine("mysql+mysqlconnector://root:@Ngelo8998@localhost:3306/cust_database")

In [ ]:
# Hizon
c.execute("""
    CREATE TABLE customers(
        customer_id INT PRIMARY KEY NOT NULL, 
        gender TEXT NOT NULL, 
        age INT NOT NULL,
        annual_income INT NOT NULL,
        spending_score INT NOT NULL
    )
""")

In [ ]:
conn.commit()

In [4]:
#Hizon
batch_one = [
    (1, "Male", 19, 15, 39),
    (2, "Male", 21, 15, 81),
    (3, "Female", 20, 16, 6),
    (4, "Female", 23, 16, 77),
    (5, "Female", 31, 17, 40),
]

In [5]:
batch_one_list = list(batch_one)

In [6]:
c.executemany("""
    INSERT INTO customers VALUES(%s, %s, %s, %s, %s)
""", batch_one_list)

In [7]:
conn.commit()

In [ ]:
# Hizon
df1_db = pd.read_sql_query("SELECT * FROM customers", conn)
df1_db

In [ ]:
# Hizon
customer_batch_one = pd.read_csv("Mall_Customers - customer_batch1.csv")

In [ ]:
customer_batch_one.to_sql("customers", engine, index = False, if_exists = "append")

In [ ]:
df1 = pd.read_sql_query("SELECT * FROM customers", conn)
df1.head()

In [ ]:
df1.tail()

In [ ]:
# Hizon
c.execute("""
    INSERT INTO customers VALUES(31, 'Male', 60, 30, 4)
""")

In [ ]:
conn.commit()

In [ ]:
df2 = pd.read_sql_query("SELECT * FROM customers", conn)
df2.head()

In [ ]:
df2.tail()

In [ ]:
query = """
    SELECT customer_id FROM customers WHERE spending_score < 20
"""
df3  = pd.read_sql_query(query, conn)
df3.head()

In [ ]:
query = """
    SELECT customer_id, gender FROM customers WHERE annual_income > 27
"""
df4  = pd.read_sql_query(query, conn)
df4.head()

In [ ]:
query = """
    SELECT customer_id, gender 
    FROM customers 
    WHERE age < 35 AND gender LIKE 'MALE'
"""
df5  = pd.read_sql_query(query, conn)
df5.head()

In [ ]:
# Hizon
customer_batch_two = pd.read_csv("Mall_Customers - customer_batch2.csv")

In [ ]:
customer_batch_two.to_sql("customers", engine, index = False, if_exists = "append")

In [ ]:
# Hizon
df_csv = pd.read_sql_query("SELECT * FROM customers", conn)
df_csv

In [ ]:
# Hizon
df_csv.shape

In [ ]:
df_csv.to_csv('customer_batch.csv', index=False)

In [ ]:
# Hizon
query = """
    SELECT *
    FROM customers 
    LIMIT 10
"""
c.execute(query)
c.fetchmany(5)

In [ ]:
# Hizon
query = """
    SELECT customer_id
    FROM customers 
    WHERE age BETWEEN 25 AND 35
"""
c.execute(query)
c.fetchmany(5)

In [ ]:
# Hizon
query = """
    SELECT customer_id, gender
    FROM customers 
    WHERE spending_score > 75 AND gender LIKE 'Female'
"""
df8  = pd.read_sql_query(query, conn)
df8

In [ ]:
# Hizon
query = """
    SELECT customer_id, gender, age, annual_income, 
        spending_score, 73.347852 + age*-0.604787 AS new_spending_score 
    FROM customers 
"""
df8  = pd.read_sql_query(query, conn)
df8

In [ ]:
# Hizon
customer_profile_two = pd.read_csv("Mall_Customers - cust_profile2.csv")

In [ ]:
customer_profile_two.to_sql("customer_profile2", engine, index = False, if_exists = "replace")

In [ ]:
# Hizon
query = """
    SELECT * FROM customer_profile2
"""

df9 = pd.read_sql_query(query, conn)
df9

In [ ]:
# Hizon
query = """
    SELECT * FROM customers 
    INNER JOIN customer_profile2 
    ON customer_id = cust_id
"""

df10 = pd.read_sql_query(query, conn)
df10.head()

In [ ]:
# Hizon
query = """
    SELECT * FROM customers 
    LEFT JOIN customer_profile2 
    ON customer_id = cust_id
"""

df11 = pd.read_sql_query(query, conn)
df11.head()

In [ ]:
# Hizon
query = """
    SELECT * FROM customers 
    FULL JOIN customer_profile2 
    ON customer_id = cust_id
"""

df12 = pd.read_sql_query(query, conn)
df12.head()

In [ ]:
# Hizon
query = """
    SELECT * FROM customers 
    UNION
    SELECT * FROM customer_profile2
"""

df13 = pd.read_sql_query(query, conn)
df13.head()

In [ ]:
df13.tail()

In [ ]:
# Hizon
query = """
    SELECT customer_id, age, education, gender
    FROM customers
    INNER JOIN
    customer_profile2
    ON customer_id = cust_id
    WHERE age < 40 AND gender LIKE 'Female' AND education LIKE 'college'
"""

df14 = pd.read_sql_query(query, conn)
df14.head()

In [ ]:
df14.tail()

In [ ]:
# Hizon
query = """
    SELECT cust_id, siblings, SUM(siblings) AS sum_siblings
    FROM 
    customer_profile2
    GROUP BY cust_id, siblings
    ORDER BY SUM(siblings)
"""

df15 = pd.read_sql_query(query, conn)
df15

In [ ]:
# Hizon
query = """
    SELECT customer_id, age, AVG(spending_score) AS average_spending_scores
    FROM 
    customers
    GROUP BY customer_id, age
    UNION
    SELECT customer_id, MAX(age), AVG(spending_score) AS average_spending_scores
    FROM
    customers
    GROUP BY customer_id
"""

df16 = pd.read_sql_query(query, conn)
df16

In [ ]:
# Hizon
query = """
    SELECT customer_id, age, annual_income, AVG(annual_income)
    FROM customers
    GROUP BY customer_id, age, annual_income WITH ROLLUP
"""

df16 = pd.read_sql_query(query, conn)
df16