In [1]:
#Angelo Louis L. Hizon
import sqlite3 as sql
import pandas as pd

In [2]:
conn = sql.connect('DATAWAREHOUSE_Hizon.db')

In [3]:
cursor = conn.cursor()

In [4]:
cursor.execute('CREATE TABLE "table" ("Customer_ID"	INTEGER NOT NULL,"Order_ID"	INTEGER NOT NULL,"Order_Date"	TEXT NOT NULL,"Store Number	"	INTEGER NOT NULL,"Product_ID"	INTEGER NOT NULL,"Unit_Price	"	REAL NOT NULL,"Discount"	REAL NOT NULL,"Quantity"	INTEGER NOT NULL,"Response"	INTEGER NOT NULL,PRIMARY KEY("Customer_ID"));')

In [5]:
conn.commit()

In [43]:
cursor.execute('INSERT INTO "table" VALUES(1863, 86855, "11/7/2014", 101, 15874, 100.80, 0.08, 30, 1)')

In [44]:
conn.commit()

In [18]:
cursor.execute('SELECT * FROM "table"')

In [20]:
#Angelo Louis L. Hizon
cursor.fetchall()

[(1863, 86855, '11/7/2014', 101, 15874, 100.8, 0.08, 30, 1)]

In [40]:
data = [
        (1849, 89699, "5/15/2013", 106, 16246, 243.98, 0.10, 12, 1),
        (1850, 89700, "8/5/2013", 106, 16534, 170.98, 0.06, 22, 1),
        (1858, 86857, "6/2/2015", 107, 16558, 279.81, 0.10, 18, 1)
       ]

In [41]:
cursor.executemany('INSERT INTO "table" VALUES(?, ?, ?, ?, ?, ?, ?, ?, ?)', data)

In [42]:
conn.commit()

In [31]:
cursor.execute('SELECT * FROM "table"')

In [32]:
#Angelo Louis L. Hizon
cursor.fetchall()

[(1849, 89699, '5/15/2013', 106, 16246, 243.98, 0.1, 12, 1),
 (1850, 89700, '8/5/2013', 106, 16534, 170.98, 0.06, 22, 1),
 (1858, 86857, '6/2/2015', 107, 16558, 279.81, 0.1, 18, 1),
 (1863, 86855, '11/7/2014', 101, 15874, 100.8, 0.08, 30, 1)]

In [33]:
table1 = pd.read_csv('customer_and_order_details.xlsx - orderdetails1.csv')

In [34]:
table2 = pd.read_csv('customer_and_order_details.xlsx - orderdetails2.csv')

In [39]:
table1.to_sql('table', con = conn, index=False, if_exists = 'replace')

In [45]:
table2.to_sql('table', con = conn, index=False, if_exists = 'replace')

In [46]:
cursor.execute('SELECT * FROM "table"')

In [47]:
#Angelo Louis L. Hizon
cursor.fetchmany(10)

[(101, 88209, '4/26/2014', 100, 16474, 145.45, 0.09, 13, 1),
 (102, 16710, '4/26/2014', 103, 16474, 145.45, 0.09, 53, 1),
 (1025, 89013, '11/9/2014', 108, 16182, 284.98, 0.08, 20, 1),
 (1027, 89016, '12/29/2015', 103, 15956, 449.99, 0.08, 20, 1),
 (1030, 89622, '4/22/2014', 100, 15653, 175.99, 0.09, 11, 1),
 (1043, 87851, '9/8/2015', 100, 16083, 270.97, 0.06, 12, 1),
 (1056, 90215, '1/15/2013', 106, 16244, 113.98, 0.06, 12, 1),
 (1060, 58628, '3/25/2012', 105, 15872, 138.75, 0.09, 23, 1),
 (1074, 86424, '1/27/2014', 107, 16474, 145.45, 0.06, 11, 1),
 (1106, 45824, '12/8/2012', 103, 16253, 140.81, 0.08, 81, 1)]

In [48]:
table3 = pd.read_csv('customer_and_order_details.xlsx - customerdetails.csv')

In [49]:
#Angelo Louis L. Hizon
table1.to_sql('customerdetails', con = conn, index=False, if_exists = 'replace')

In [50]:
pd.read_sql_query('SELECT * FROM "table" INNER JOIN customerdetails ON "table".Customer_ID = customerdetails."ID no"', conn)

DatabaseError: Execution failed on sql 'SELECT * FROM "table" INNER JOIN customerdetails ON "table".Customer_ID = customerdetails."ID no"': no such table: customerdetails